<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>MiniHub</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="lib/lineicons/simple-line-icons.css"/>
    <link rel="stylesheet" href="lib/github-markdown.css">
</head>
<body>
    <div id="main" class="wrapper">
        <div class="panel-1">
            <form class="pure-form chat-input">
                <input type="text" v-model="text" v-on="keyup:send | key enter"/>
                <button class="pure-button pure-button-primary" v-on="click: send" v-attr="disabled: text.length === 0">Say</button>
            </form>
                <div v-repeat="message: messages">
                    <div class="message">
                        <div class="message__user">{{message.user}}</div>
                        <div class="message__text">{{message.text}}</div>
                    </div>
                </div>
        </div>

        <div class="panel-2">
            <div style="margin: 10px;">
                <a href="">All</a> > <a href="">Category</a> > <a href="">Search</a> > <a href="">is</a> > <a href="">WIP</a>
            </div>

            <button v-show="!isEditing" v-on="click: isEditing = true" class="pure-button pure-button-primary memo__actions__update">New Memo</button>

            <div v-show="isEditing">
                <form class="pure-form">
                    <textarea v-model="memo.text" class="memo__textarea"></textarea>
                </form>
                <div class="memo__actions">
                    <button v-if="memo.id === ''" v-on="click: updateMemo(memo)" v-attr="disabled: memo.text.length === 0" class="pure-button pure-button-primary memo__actions__update">Post</button>
                    <button v-if="memo.id !== ''" v-on="click: updateMemo(memo)" class="pure-button pure-button-primary memo__actions__update">Update</button>
                    <button v-on="click: onEndEditing()" class="pure-button memo__actions__update">Cancel</button>
                </div>
            </div>

            <div class="memo" v-repeat="m: memos" v-on="dblclick: editMemo(m.id)">
                <div class="close-button">
                    <span aria-hidden="true" class="icon-close" v-on="click: removeMemo(m.id)"></span>
                </div>
                <div class="markdown-body">{{{m.text | marked}}}</div>
            </div>

            <p>
                <hr/>
                mini-devhub
            </p>
        </div>
    </div>
    <script src="http://cdn.mlkcca.com/v0.2.8/milkcocoa.js"></script>
    <script src="build/bundle.js"></script>

</body>
</html>